<div
  class="footer container-fluid position-relative bg-dark bg-light-radial text-white-50 py-6 px-5 pt-5"
>
  <div class="row g-5">
    <div class="col-lg-6 pe-lg-5">
      <h5 class="text-white text-uppercase mb-4 mt-3">Corporate office</h5>
      <p>
        <i class="fa fa-map-marker-alt me-2"></i> 240B, 5th Cross Rd,
        Vivekanagar, Bengaluru, Karnataka 560047
      </p>
      <p><i class="fa fa-phone-alt me-2"></i> 1800 843 1100</p>

      &nbsp;&nbsp;&nbsp;
      <h5 class="text-white text-uppercase mb-4">Experience Centre</h5>
      <p>
        <i class="fa fa-map-marker-alt me-2"></i> 74, 1, Kalkere Main
        Rd,Bengaluru, Karnataka 560043
      </p>

      <div class="d-flex justify-content-start mt-4">
        <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="#"
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="#"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="#"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a class="btn btn-lg btn-primary btn-lg-square rounded-0" href="#"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-6 ps-lg-5">
      <div class="row g-5">
        <div class="col-sm-6">
          <h4 class="text-white text-uppercase mb-4">Quick Links</h4>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white-50 mb-2" routerLink="/home"
              ><i class="fa fa-angle-right me-2"></i>Home</a
            >
            <a class="text-white-50 mb-2" routerLink="/aboutus"
              ><i class="fa fa-angle-right me-2"></i>About Us</a
            >
            <a class="text-white-50 mb-2" routerLink="/product"
              ><i class="fa fa-angle-right me-2"></i>Product</a
            >
            <a class="text-white-50 mb-2" routerLink="/resource"
              ><i class="fa fa-angle-right me-2"></i>Resources</a
            >
            <a class="text-white-50 mb-2" routerLink="/services"
              ><i class="fa fa-angle-right me-2"></i>Services</a
            >
            <a class="text-white-50" routerLink="/career"
              ><i class="fa fa-angle-right me-2"></i>Carrer</a
            >
            <a class="text-white-50 mb-2" routerLink="/partner"
              ><i class="fa fa-angle-right me-2"></i>Partner</a
            >
          </div>
        </div>
        <div class="col-sm-6">
          <h4 class="text-white text-uppercase mb-4">Popular Links</h4>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white-50 mb-2" routerLink="/company"
              ><i class="fa fa-angle-right me-2"></i>Company</a
            >
            <a class="text-white-50 mb-2" routerLink="/leadership-team"
              ><i class="fa fa-angle-right me-2"></i>Leadership Team</a
            >
            <a class="text-white-50 mb-2" routerLink="/keyproject"
              ><i class="fa fa-angle-right me-2"></i>Key Project</a
            >

            <a class="text-white-50" routerLink="/product1"
              ><i class="fa fa-angle-right me-2"></i>Product-1</a
            >
            <a class="text-white-50" routerLink="/product2"
              ><i class="fa fa-angle-right me-2"></i>Product-2</a
            >
            <a class="text-white-50" routerLink="/news"
              ><i class="fa fa-angle-right me-2"></i>News</a
            >
            <a class="text-white-50" routerLink="/blogs"
              ><i class="fa fa-angle-right me-2"></i>Blogs</a
            >
            <a class="text-white-50" routerLink="/"
              ><i class="fa fa-angle-right me-2"></i>Finance</a
            >
          </div>
        </div>
        <div class="col-sm-12">
          <h4 class="text-white text-uppercase mb-4">Newsletter</h4>
          <div class="w-100">
            <div class="input-group">
              <input
                type="text"
                class="form-control border-light"
                style="padding: 20px 30px"
                placeholder="Your Email Address"
              /><button class="btn btn-primary px-4">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="container-fluid bg-dark bg-light-radial text-white border-top border-primary px-0"
>
  <div class="d-flex flex-column flex-md-row justify-content-between">
    <div class="py-4 px-5 text-center text-md-start">
      <p class="mb-0">
        &copy; <a class="text-primary" href="fireclay.in">fireclay</a>. All
        Rights Reserved.
      </p>
    </div>
    <div
      class="py-4 px-5 bg-primary footer-shape position-relative text-center text-md-end"
    >
      <p class="mb-0">
        Designed by <a class="text-dark" href="#">Westech Technology</a>
      </p>
    </div>
  </div>
</div>

<button
  style="border-radius: 30px"
  type="button"
  id="openModalButton"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#myModal"
>
  I am Intrested
</button>

<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div
      class="modal-content"
      style="background-color: rgb(204, 204, 204); border-radius: 40px"
    >
      <div class="modal-header bg-warning">
        <div>
          <h4 class="modal-title">I'm interested</h4>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <div class="modal-body" style="background-color: rgb(204, 204, 204)">
        <h5>
          Please enter the details below to get the detailed pricing information
        </h5>
        <div class="inputWithIcon">
          <input type="text" placeholder="Your name" />
          <i class="fa fa-user icons fa-lg fa-fw" aria-hidden="true"></i>
        </div>

        <div class="inputWithIcon">
          <input type="text" placeholder="Email" />
          <i class="fa fa-envelope fa-lg fa-fw icons" aria-hidden="true"></i>
        </div>

        <div class="inputWithIcon">
          <input type="text" placeholder="Phone Number" />
          <i class="fa fa-phone fa-lg fa-fw icons" aria-hidden="true"></i>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
